*{
    padding: 0;
    margin: 0;
    
}
.head{
    color: brown;
    font-style: italic;
    font-size: 2rem;
    
}
body{
    font-size: larger;
    background-color: rgb(68, 68, 231);
    font-style: normal;
    color: white;



}
